<div class="container">
    <div class="title-header">
        <h3 mat-dialog-title>Nome: {{data.name}} <br> ID: {{data.id}}</h3>
        <button mat-icon-button class="close-button" color="warn" (click)="onCancel()" tabindex="-1">
            <mat-icon aria-label="Close">close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="content">

        <mat-table #contactsTable [dataSource]="dataSource" matSort class="mat-cell">
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-form-field color="primary" class="input-type add-contact-field" appearance="outline">
                        <mat-label>Tipo</mat-label>
                        <mat-select [(value)]="row.type" [disabled]="!isEdit">
                          <mat-option *ngFor="let type of contactTypes" [value]="type.value">
                            <mat-icon>{{type.icon}}</mat-icon>{{type.viewValue}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
                <mat-cell *matCellDef="let row" class="column-value">
                    <mat-form-field color="primary" appearance="outline" class="input-value add-contact-field">
                        <input [readonly]="!isEdit" matInput placeholder="Valor" [(ngModel)]="row.value" name="value">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="column-actions">
                    <button mat-icon-button color="primary" (click)="addContact()">
                        <mat-icon aria-label="Add">add</mat-icon>
                    </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row; let i=index;" class="column-actions">
                    <button *ngIf="!isEdit" mat-icon-button color="accent" (click)="editContact()">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button *ngIf="!isEdit" mat-icon-button color="warn" (click)="deleteContact(row.id)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>

                    <button *ngIf="isEdit" mat-icon-button color="primary" (click)="saveContact(i, row)">
                        <mat-icon aria-label="Save">check_circle</mat-icon>
                    </button>

                    <button *ngIf="isEdit" mat-icon-button color="accent" (click)="editContact()">
                        <mat-icon aria-label="CancelEdit">cancel</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-dialog-content>
</div>